<main>
  <h1 class="text-center bold text-xl">Usuários Cadastrados</h1>
  <div class="border border-white/10 rounded-lg">
    {{#if motoristas}}
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th class="py-3 px-4 text-sm font-semibold text-left">Id</th>
          <th class="py-3 px-4 text-sm font-semibold text-left">CPF</th>
          <th class="py-3 px-4 text-sm font-semibold text-left">Nome</th>
          <th class="py-3 px-4 text-sm font-semibold text-left">Data de Nascimento</th>
          <th class="py-3 px-4 text-sm font-semibold text-left">Gênero</th>
          <th class="py-3 px-4 text-sm font-semibold text-left">Carteira de habilitação</th>
          <th class="py-3 px-4 text-sm font-semibold text-left">Email</th>
          <th class="py-3 px-4 text-sm font-semibold text-left">Telefone</th>
        </tr>
      </thead>
      <tbody>
        {{#each motoristas}}
        <tr>
          <td class="py-3 px-4 text-sm text-black">
            <div class="flex items-center gap-3">
              <div>
                <div class="font-bold">{{this.id}}</div>
              </div>
            </div>
          </td>
          <td class="py-3 px-4 text-sm text-black font-semibold">
            {{this.cpf}}
          </td>
          <td class="py-3 px-4 text-sm text-black font-semibold">{{this.nome}}</td>
          <td class="py-3 px-4 text-sm text-black font-semibold">{{this.dataNasc}}</td>
          <td class="py-3 px-4 text-sm text-black font-semibold">{{this.genero}}</td>
          <td class="py-3 px-4 text-sm text-black font-semibold">{{this.categoria}}</td>
          <td class="py-3 px-4 text-sm text-black font-semibold">{{this.email}}</td>
          <td class="py-3 px-4 text-sm text-black font-semibold">{{this.telefone}}</td>
        </tr>
        {{/each}}
      </tbody>

    </table>

    <a href="/menuMotoristas" class="btn btn-neutral my-2 w-full">Voltar ao menu</a>

    {{else}}

    <div class="toast toast-middle toast-center bg-black/15 border rounded-box">
      <div class="alert alert-error">
        <span>Não há motoristas cadastrados!</span>
      </div>
      <a href="/menuMotoristas" class="btn btn-neutral my-2 w-full">Voltar ao menu</a>
    </div>

    {{/if}}

  </div>
</main>