<main>
  {{#if motorista}}
  <div class="border rounded-md px-2 my-2 bg-slate-100">
        <h1 class="text-xl font-bold my-4">Dados do motorista: {{motorista.nome}}</h1>
    
  <p class="py-3 px-4 text-sm text-black font-bold border-y-2 bg-black/10 rounded-tr-box rounded-tl-box ">CPF: {{motorista.cpf}}</p>
  <p class="py-3 px-4 text-sm text-black font-bold border-b-2 bg-black/10">Nome: {{motorista.nome}}</p>
  <p class="py-3 px-4 text-sm text-black font-bold border-b-2 bg-black/10">Data de Nascimento: {{motorista.dataNasc}}</p>
  <p class="py-3 px-4 text-sm text-black font-bold border-b-2 bg-black/10">Gênero: {{motorista.genero}}</p>
  <p class="py-3 px-4 text-sm text-black font-bold border-b-2 bg-black/10">Carteira de habilitação: {{motorista.categoria}}</p>
  <p class="py-3 px-4 text-sm text-black font-bold border-b-2 bg-black/10">Email: {{motorista.email}}</p>
  <p class="py-3 px-4 text-sm text-black font-bold mb-2 bg-black/10 rounded-br-box rounded-bl-box">Telefone: {{motorista.telefone}}</p>
  <a href="/menuMotoristas" class="btn btn-neutral my-2">Voltar ao menu</a>
  </div>
  {{else}}

  <div class="border rounded-md px-2 my-2 bg-slate-100">
        <h1 class="text-xl font-bold my-4">Motorista não encontrado!</h1>
        <a href="/menuMotoristas" class="btn btn-neutral my-2">Voltar ao menu</a>
  </div>

  {{/if}}
</main>